name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build (check + jar)
        run: ./gradlew check jar

      - name: Upload test results artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: test-results
            path: build/test-results

      - name: Upload reports artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: build/reports

      - name: Upload libs artifact
        uses: actions/upload-artifact@v4
        with:
          name: libs
          path: build/libs
